%h1 Events

%form#event_search_form.search_form{ :method => :get }
	%fieldset
		= label_tag :q, "Search events"
		= text_field_tag :q, params[:q], :class => "text"
		
%table#event_list.listings_table
	%thead
		%tr
			%th.toggle Pic?
			%th Event name
			%th Booked?
	%tbody		
		= render "list"