%h1 Writer: #{ @writer.name }

%table.listings_table#booking_list
	%thead
		%tr
			%th Event
			%th Booking
	%tbody
		- @bookings.each do |date, bookings|
			%tr.date
				%td{ :colspan => 2 }= date.strftime("%A %d %B")
			- bookings.each do |booking|
				%tr
					%td= link_to booking.performance.event.title, event_path(booking.performance.event)
					%td 
						.booking_details= booking.performance.starts_at.strftime("%A %d, %H:%M%p")
